(19 sloc)  226 Bytes
 

body {
  background: black;
}
.muimg {
  height:200px;
  background: #aaa;
}
#heading {
background: white;
color:black;
}
.heading{
  background: white;
  color:black;

}
#footer {
  background: white;
  color: crimson;
}